<!DOCTYPE HTML>

<html>
    <head>
        <script>
            var map;
            document.addEventListener('DOMContentLoaded',()=>{    
                document.querySelector('#find').addEventListener('click',()=>{
                    let name = document.querySelector('#search').value;
                    //console.log(name);
                    var req = new XMLHttpRequest();
                    let url = '/getcrds/name='+name;
                    req.open('GET',url);
                    req.onload = () =>{
                        const coordinates = JSON.parse(req.responseText);
                        console.log(coordinates);
                        for(i in coordinates)
                        {
                            var curr = {'lat': coordinates[i]['lat'] , 'lng': coordinates[i]['lng']};
                            var marker = new google.maps.Marker({position: curr, map: map});
                        }
                    };
                    req.send();
                    return false;  
                });                
            });
        </script>
        <style>
            body, html {
                height: 100%;
                width: 100%;
            }
            /* Set the size of the div element that contains the map */
           #map {
             position: relative;
             height: 100%;  
             width: 100%;  
            }
            #id{
                align-self: center;
            }
         
        </style>
    </head>
    
    <body>
        <div style='text-align:center;padding:1%;'>
            <input id='search' class='controls' type='text' placeholder='Celebrity'/>
            <input id='find' type='button' value="search"/>
        </div>
        <div id="map"></div>

        
        <script>
            function initMap() {
                    var uluru = {lat: 17.3850, lng: 78.4867};
                    map = new google.maps.Map(
                        document.getElementById('map'), {zoom: 4, center: uluru});
                    //var marker = new google.maps.Marker({position: uluru, map: map});
            }
        </script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap">
        </script>
        <!--Load the API from the specified URL
        * The async attribute allows the browser to render the page while the API loads
        * The key parameter will contain your own API key (which is not needed for this tutorial)
        * The callback parameter executes the initMap() function
        -->
    </body>
</html>
